{% extends "shop/base.html" %}

{% block content %}

<div class="main content">
    <h2 class="orderTitle">Оформление заказа</h2>

    <div class="order-info col-sm-8">

        <table class="orderTable">
            <tr>
                <th>Наименование</th>
                <th>Количество</th>
                <th>Стоимость</th>
            </tr>

            {% for item in cart %}
            <tr>
                <td>
                    {{ item.product.name }}
                </td>
                <td>
                    {{ item.quantity }}
                </td>
                <td>
                    {{ item.total_price }}
                </td>
            </tr>
            {% endfor %}
        </table>
        <br/>
        <p class="Total"><strong>К оплате:</strong> {{ cart.get_total_price_after_discount|floatformat:"2"}} грн.</p>
    </div>
    <div class="">
            <h3>Заполните форму</h3>
            <form class="order-form" action="." method="post">
                {{ form.as_ul }}
                {% csrf_token %}
                <input class="orderSubmit" type="submit" value="заказать">
            </form>
        </div>
</div>
    {% endblock %}