{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block content %}

<div id="itemDetail" class="main content">
    <div>
        <h4>{{product.name}}</h4><br/>
        <div class="big_view">
            <img class="" src="{{product.images.first.image.url}}" width="311" height="319"/><br/>
            <span>{{product.price}} грн</span>
        </div>
        <div class="scroll">
            {% for image in product.images.all %}
                <a href="#"><img src="{{ image.image.url }}" alt="" width="62" height="62"/></a>
            {% endfor %}
        </div>
    </div>
    <div class="description">
        <p>
            <strong>Описание</strong>
            <br/>
            {{ product.description }}
        </p>
        <p>
            <a href="{% url 'cart:CartAdd' product_id=product.id %}" class="buy">Купить</a>
        </p>
    </div>
</div>
{% endblock %}
