{% block cart %}
<div class="modal" id="cartModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Корзина</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container mb-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Изображение</th>
                                        <th scope="col">Продукт</th>
                                        <th scope="col">Доступность</th>
                                        <th scope="col" class="text-center">Количество</th>
                                        <th scope="col" class="text-right">Цена</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for cartItem in cartItems %}
                                        {% with product=cartItem.product %}
                                            <tr>
                                                <td>
                                                    <a href="{{ product.get_absolute_url }}">
                                                        <img src="{{ product.image.url }}" class="img-responsive" />
                                                    </a>
                                                </td>
                                                <td>{{ product.name }}</td>
                                                <td>In stock</td>
                                                <td><input class="form-control" type="text" value="1"/></td>
                                                <td class="text-right num">{{ item.price }}</td>
                                                <td class="text-right">
                                                    <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        {% endwith %}
                                    {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Sub-Total</td>
                                        <td class="text-right">255,90 €</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Shipping</td>
                                        <td class="text-right">6,90 €</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><strong>Total</strong></td>
                                        <td class="text-right"><strong>346,90 €</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="row">
                                <div class="col-sm-12  col-md-6">
                                    <button class="btn btn-block btn-light">Продолжить покупки</button>
                                </div>
                                <div class="col-sm-12 col-md-6 text-right">
                                    <button class="btn btn-lg btn-block btn-success text-uppercase">Оформить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Сохранить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

